:root { --rankbackground: silver; }

*{
	margin:0;
	padding:0;
	}
body {
	background-color:black;

}
#menu{
	margin:37px 0;
}
#chair{
	height:70px;
	width:1200px;
	overflow:hidden;
	float:left;
}
#chair img{
	width:1200px;
}
#sideMenu *{
	background-color:silver;
}
.menu_style{
	width:160px;
	height: 50px;
	margin:10px;
	padding:10px;
}
.main_part{
	height:680px;
	overflow:auto;
}
#home{
	padding:20px 20px 0 20px;
	float:left;
	width:960px;
	background-color:white;
}
#mainPoster{
	width:415px;
	height:580px;
	float:left;
	margin:50px 30px 50px 40px;
	position:relative;
	background-color:silver;
}
#mainPoster>img{
	width:405px;
	height:570px;
	border:5px solid #dfdfdf;
	position:absolute;
	top:0;
	left:0;
}
#mainPoster img.alt{
	display:none;
}
#rankPart{
	float:left;
	width:420px;
}
#rankTitle{
	text-align:center;
}
#ranking{
	float:left;
	background-color:silver;
	width:372px;
	height:580px;
	margin:10px 30px 50px 40px;
	border:1px solid silver;
}
input[type = "radio"]{
	display:none;
}
#movie{
	overflow:auto;
	width:960px;
	padding:0 20px 20px 20px;
	margin-left:0;
	background-color:white;
	display:none;
}
#sideMenu{
	position:fixed;
	top:0;
	left:170px;
	width:200px;
	height:700px;
	background-color:silver;
}
#logo{
	padding: 5px 0;
}
#logo>img{
	background-color:silver;
	width:200px;
	height:200px;
}
#projectTitle{
	text-align: center;
	margin:0 0 10px 0;
}
#time{
	display:inline-block;
	width:180px;
	margin:10px;
}
#time>div{
	padding:2px;
	text-align:center;
	height:20px;
	background-color:white;
}
#date{
	font-size:20px;
	height:20px;
}
#clock{
	font-size:15px;
	height:15px;
}
#search{
	padding: 20px 20px 0 20px;
    background-color: white;
    float: left;
    width: 960px;
    display:none;
}
.searchall{
   overflow: auto;
}
.searchall *{
	font-size :20px;
}
.answer{
	width: 300px;
	height: 500px;
}
.choiceall{
	float:left;
}
.choice{
	background-color:#4C4A4A !important;
	color:white; 
	width:90px;
	height:54px;
}
.detailall{
   float:left;
}
.detail{
	width:396px;
	height:50px;
}
form{
	height:54px;
	float:left;
}
#search_box{
	margin :10px auto;
	width:660px;
	height:54px;
}
.buttonall{
	float:left;
}
#searchbutton{
	width:170px;
	height:54px;
}
.movieLine{
	float:auto;
	width:960px;
}
.movieData{
	width:960px;
}
.moviePosterLine{
	height:360px;
}
.moviePoster:hover{
	padding:38px 18px 8px 18px;
	border:2px solid black;
	border-radius :20px 20px 0 0;
}
.moviePoster{
	float:left;
	margin-top:20px;
	padding:40px 20px 10px 20px;
	width:200px;
	height:310px;
	background-color:white;
	border-radius :20px 20px 0 0;
}
.poster{
	width:200px;
	height:280px;	
}
.movieName{
	height:30px;
	width:200px;
	background-color:white;
	line-height: 30px;
	text-align: center;	
}
.movieInfoPart{
	width:960px;
}
.movieInfo{
	float:left;
	width:950px;
	padding:20px 5px;
	background-color:silver;
	display:none;
}
.movieInfoLeft{
	width:420px;
	float:left;
	background-color:silver;
}
.movieInfoLeft>div{
	width:390px;
	height:30px;
	line-height:30px;
	padding:10px;
	margin:5px;
	float:left;
	background-color:white;
}
.movieInfoRight{
	width:530px;
	float:left;
	background-color:silver;
}
.movieInfoRight>div{
	background-color:white;
	display:inline-block;
}
.movieInfoRightTop>div{
	height:30px;
	line-height:30px;
	padding:5px;
	background-color:white;
}
.movieInfoRightTop{
	width:520px;
	height:40px;
	padding:0px;
	margin:5px;
	background-color:silver !important;
}
.moviePremier{
	background-color:silver;
	width:100px;
	float:left;
	margin-left:5px;
	text-align: center;
}
.movieDirector{
	background-color:silver;
	width:390px;
	float:left;
	margin-right:5px;
}
.movieEval{
	background-color:silver;
	width:510px;
	padding:5px;
	margin:5px;
}
.movieReply{
	background-color:silver;
	width:510px;
	padding:5px;	
	margin:5px;
}
.chartall > input{   
   display: none;
}
.highchartall{
   width: 372px;
   overflow: auto;
}
.highchart{
   background-color: #4C4A4A;
   color:white;
   text-align: center;
   width: 120px;
   height:36px;
   line-height:36px;
   float: left;
   border: 2px solid silver;
}
.subchartall{
   display: block;
   height:40px;
}
.subchart{
   display: none;
   background-color: #454040;
   color:white;
   text-align: center;
   width: 89px;
   height: 36px;
   line-height:36px;
   float: left;
   border: 2px solid silver;
}
.rank{
   width: 372px;
   height: 500px;
   background-color:white;
}
.grade1{
   display: inline-block;
   background-color:silver;
   width:352px;
   height: 60px;
   padding:10px;
   margin-top:20px;
   line-height:60px;
}
.grade2{
	display: inline-block;
   background-color:silver;
   width:352px;
   height: 60px;
   padding:10px;
   margin-top:20px;
   line-height:60px;
}
.grade3{
	display: inline-block;
   background-color:silver;
   width:352px;
   height: 60px;
   padding:10px;
   margin-top:20px;
   line-height:60px;
}
.grade4{
	display: inline-block;
   background-color:silver;
   width:352px;
   height: 60px;
   padding:10px;
   margin-top:20px;
   line-height:60px;
}
.grade5{
	display: inline-block;
   background-color:silver;
   width:352px;
   height: 60px;
   padding:10px;
   margin-top:20px;
   line-height:60px;
}
footer{
	margin: 10px auto;
	width:150px;
	height:22px;
	border-top:1px solid black;
	padding:19px 0 20px 0;
}

input:nth-of-type(1):checked ~ div.chartall>div.highchartall>label:nth-of-type(1)>div.highchart{
   background-color: var(--rankbackground);
   color:black;
}
input:nth-of-type(2):checked ~ div.chartall>div.highchartall>label:nth-of-type(2)>div{
   background-color: var(--rankbackground);
   color:black;
}
input:nth-of-type(3):checked ~ div.chartall>div.highchartall>label:nth-of-type(3)>div{
   background-color: var(--rankbackground);
   color:black;
}
input:nth-of-type(1):checked ~ div.chartall>div.subchartall>div.subchart1>label:nth-of-type(n)>div.subchart{
   display: block;
}
input:nth-of-type(2):checked ~ div.chartall>div.subchartall>div.subchart2>label:nth-of-type(n)>div.subchart{
   display: block;
}
input:nth-of-type(3):checked ~ div.chartall>div.subchartall>div.subchart3>label:nth-of-type(n)>div.subchart{
   width: 146px;
   display: block;
}
input:nth-of-type(4):checked ~ div.chartall>div.subchartall>div.subchart1>label:nth-of-type(1)>div.subchart{
   background-color: var(--rankbackground);
   color:black;
}
input:nth-of-type(5):checked ~ div.chartall>div.subchartall>div.subchart1>label:nth-of-type(2)>div.subchart{
   background-color:var(--rankbackground);
   color:black;
}
input:nth-of-type(6):checked ~ div.chartall>div.subchartall>div.subchart1>label:nth-of-type(3)>div.subchart{
   background-color:var(--rankbackground);
   color:black;
}
input:nth-of-type(7):checked ~ div.chartall>div.subchartall>div.subchart1>label:nth-of-type(4)>div.subchart{
   background-color: var(--rankbackground);
   color:black;
}
input:nth-of-type(8):checked ~ div.chartall>div.subchartall>div.subchart2>label:nth-of-type(1)>div.subchart{
   background-color: var(--rankbackground);
   color:black;
}
input:nth-of-type(9):checked ~ div.chartall>div.subchartall>div.subchart2>label:nth-of-type(2)>div.subchart{
   background-color: var(--rankbackground);
   color:black;
}
input:nth-of-type(10):checked ~ div.chartall>div.subchartall>div.subchart2>label:nth-of-type(3)>div.subchart{
   background-color: var(--rankbackground);
   color:black;
}
input:nth-of-type(11):checked ~ div.chartall>div.subchartall>div.subchart2>label:nth-of-type(4)>div.subchart{
   background-color: var(--rankbackground);
   color:black;
}
input:nth-of-type(12):checked ~ div.chartall>div.subchartall>div.subchart2>label:nth-of-type(1)>div.subchart{
   background-color: var(--rankbackground);
   color:black;
}
input:nth-of-type(12):checked ~ div.chartall>div.subchartall>div.subchart3>label:nth-of-type(1)>div.subchart{
   background-color: var(--rankbackground);
   color:black;
}
input:nth-of-type(13):checked ~ div.chartall>div.subchartall>div.subchart3>label:nth-of-type(2)>div.subchart{
   background-color: var(--rankbackground);
   color:black;
}
